<a href="https://colab.research.google.com/github/khetpatiparn/Learn_Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#โครงสร้างข้อมูลของ Pandas มี 3 ชนิด คือ 
1. Series : Array 1 D
2. Data frame : Array 2 D
3. Panel : Array 3 D

#Series

##สร้าง Series จาก List and Tuple

In [ ]:
import pandas as pd

In [ ]:
data_ls = [10,20,30,"helloworld","Iphone",True]

In [ ]:
pd.Series(data_ls)
#ตัวเลขด้านซ้าย คือ index
#ค่าด้านขวา คือ value

0            10
1            20
2            30
3    helloworld
4        Iphone
5          True
dtype: object

In [ ]:
ps_ls = pd.Series(data_ls)
ps_ls

0            10
1            20
2            30
3    helloworld
4        Iphone
5          True
dtype: object

In [ ]:
data_tu = (10,20,30,"helloworld","Iphone","khet")

In [ ]:
pd.Series(data_tu)

0            10
1            20
2            30
3    helloworld
4        Iphone
5          khet
dtype: object

In [ ]:
ps_tu = pd.Series(data_tu)
ps_tu

0            10
1            20
2            30
3    helloworld
4        Iphone
5          khet
dtype: object

##สร้าง Series จาก Numpy

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ndata = np.array([10,20,30,"helloworld","Iphone",True])
ndata

array(['10', '20', '30', 'helloworld', 'Iphone', 'True'], dtype='<U21')

In [ ]:
ps = pd.Series(ndata)
ps

0            10
1            20
2            30
3    helloworld
4        Iphone
5          True
dtype: object

## สร้าง Series กำหนดเลข Index

In [ ]:
import pandas as pd

In [ ]:
items = ["apple","banana","orange"]

In [ ]:
indx = [10,20,30]

In [ ]:
pd.Series(items)

0     apple
1    banana
2    orange
dtype: object

In [ ]:
pd.Series(items, index = indx)

10     apple
20    banana
30    orange
dtype: object

##สร้าง Series จาก Dictionary

In [ ]:
import pandas as pd

In [ ]:
age = {"khet":19, "kung":20, "david":25}

In [ ]:
pd.Series(age)

khet     19
kung     20
david    25
dtype: int64

In [ ]:
age = {19:"khet", 20:"kung", 25:"david"}

In [ ]:
pd.Series(age)

19     khet
20     kung
25    david
dtype: object

##การเข้าถึงข้อมูลใน Series ด้วย index

In [ ]:
import pandas as pd

In [ ]:
li = [10,20,30,40,50]

In [ ]:
ps = pd.Series(li)
ps

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
ps[3]

40

In [ ]:
ps[0]

10

In [ ]:
age = {"khet":19, "kung":20, "david":25}

In [ ]:
ps = pd.Series(age)
ps

khet     19
kung     20
david    25
dtype: int64

In [ ]:
ps["khet"]

19

In [ ]:
ps["david"]

25

##การเข้าถึงข้อมูลใน Series (Slice)

In [ ]:
import pandas as pd

In [ ]:
ps = pd.Series([10,20,30,40,50,60,70,80,90,100])
ps

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
ps[:]

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
ps[4:]

4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
ps[:5]

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
ps[1:8]

1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

# DataFrame

##สร้าง DataFrame จาก List and Tuple

In [ ]:
import pandas as pd

In [ ]:
data_ls = [10,20,30,40,50]

In [ ]:
df = pd.DataFrame(data_ls)
df
# เลข 0 ข้างบนคือ ชื่อบอกคอลัมน์ ซึ่งสามารถเปลี่ยนแปลงได้

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
data_tp = (29,30,51,82,10)

In [ ]:
cols = ["Age"]
df = pd.DataFrame(data_tp, columns = cols)
df

   Age
0   29
1   30
2   51
3   82
4   10

##สร้าง DataFrame จาก List แบบหลายมิติ

In [ ]:
import pandas as pd

In [ ]:
datas = [["mouse","IT",300],["racket","sport",2000],["T-shirt","clothes",500]]

In [ ]:
cols = ["Name","Type","Price"]
df = pd.DataFrame(datas, columns = cols)

In [ ]:
df

      Name     Type  Price
0    mouse       IT    300
1   racket    sport   2000
2  T-shirt  clothes    500

##สร้าง DataFrame จาก List ด้วย Zip

In [ ]:
import pandas as pd

In [ ]:
#datas = [["mouse","IT",300],["racket","sport",2000],["T-shirt","clothes",500]]
name = ["mouse","racket","T-shirt"]
category = ["IT","sport","clothes"]
price = [300,2000,500]

In [ ]:
datas = list(zip(name,category,price))

In [ ]:
cols = ['name','type','price']
df = pd.DataFrame(datas, columns = cols)
df

      name     type  price
0    mouse       IT    300
1   racket    sport   2000
2  T-shirt  clothes    500

##สร้าง DataFrame จาก Dictionary
key จะเป็น คอลัมน์<br>
value จะเป็นข้อมูล

In [ ]:
import pandas as pd

In [ ]:
datas = [
    {"Name":"mouse","Type":"IT","Price":300},
    {"Name":"racket","Type":"sport","Price":2000},
    {"Name":"T-shirt","Type":"clothes","Price":500},
    {"Name":"Headphone","Type":"IT","Price":5000}
  ]

In [ ]:
df = pd.DataFrame(datas)
df

        Name     Type  Price
0      mouse       IT    300
1     racket    sport   2000
2    T-shirt  clothes    500
3  Headphone       IT   5000

ถ้าเราไม่ต้องการให้ตัวเลขข้างหน้าเป็น Index  อยากจะให้ Name เป็น Index แทน
<br>ใช้ function <code>set_intdex([ค่าในคอลัมน์])</code>

In [ ]:
df.set_index(["Name"])

              Type  Price
Name
mouse           IT    300
racket       sport   2000
T-shirt    clothes    500
Headphone       IT   5000

In [ ]:
df

        Name     Type  Price
0      mouse       IT    300
1     racket    sport   2000
2    T-shirt  clothes    500
3  Headphone       IT   5000

และถ้าต้องการให้ update เป็น df อันใหม่ ให้ใช้ Attribute <code>inplace = True</code>

In [ ]:
df.set_index(["Name"],inplace=True)

In [ ]:
df

              Type  Price
Name
mouse           IT    300
racket       sport   2000
T-shirt    clothes    500
Headphone       IT   5000

##สร้าง DataFrame จาก Series

In [ ]:
import pandas as pd

In [ ]:
name = ["mouse","racket","shirt"]
category = ["IT","Sport","Clothes"]
price = [300,2000,500]

In [ ]:
name_serie = pd.Series(name)
category_serie = pd.Series(category)
price_serie = pd.Series(price)

In [ ]:
data_list = {"Name":name_serie,"Category":category_serie,"Price":price_serie}

In [ ]:
df = pd.DataFrame(data_list)

In [ ]:
df

     Name Category  Price
0   mouse       IT    300
1  racket    Sport   2000
2   shirt  Clothes    500

#การจัดการกับเอกสาร CSV หรือ Excel

##Export file CSV
ใช้ method <code>to_csv("path/filename",attribute)</code>
attribute :
1. header : บอกว่าเอาส่วนหัวคอลัมน์หรือไม่ (default = True)
2. index : บอกว่าเอาค่า index ด้วยหรือไม่ (default = True)

In [ ]:
import pandas as pd

In [ ]:
datas = [["mouse","IT",300],["racket","sport",2000],["T-shirt","clothes",500]]
cols = ["Name","Category","Price"]
df = pd.DataFrame(datas,columns = cols)
df

      Name Category  Price
0    mouse       IT    300
1   racket    sport   2000
2  T-shirt  clothes    500

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product1.csv")

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product2.csv",index = False)

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product3.csv",header = False)

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product4.csv",header = False, index = False)

##อ่านเอกสาร CSV
ใช้ method <code>read_csv("path",encoding = "utf-8")</code><br>
function <code>head(n)</code> ใช้อ่านเอกสาร n แถวแรก (default n = 5)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product1.csv")

In [ ]:
df

   Unnamed: 0     Name Category  Price
0           0    mouse       IT    300
1           1   racket    sport   2000
2           2  T-shirt  clothes    500

In [ ]:
df.head(2)

   Unnamed: 0    Name Category  Price
0           0   mouse       IT    300
1           1  racket    sport   2000

###อ่านเอกสาร CSV บางคอลัมน์
ใช้ attribute <code>usecols = คอลัมน์ที่ต้องการแสดงผล</code><br>
หรือถ้าต้องการ กำหนด index ใหม่<br>
ใช้ attribute <code>index_col = ชื่อคอลัมน์ที่ต้องการแสดงเป็น index </code>

In [ ]:
import pandas as pd

In [ ]:
cols = ["Name","Price"]
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product1.csv",usecols = cols )

In [ ]:
df

      Name  Price
0    mouse    300
1   racket   2000
2  T-shirt    500

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product1.csv",usecols = cols ,index_col = "Name")

In [ ]:
df

         Price
Name
mouse      300
racket    2000
T-shirt    500

###อ่านเอกสาร CSV กำหนดหัวคอลัมน์
กรณีเอกสารไม่มีการกำหนดหัวคอลัมน์เราสามารถกำหนดหัวคอลัมน์เองได้<br>
ใช้ attribute <code>names</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product3.csv")

In [ ]:
df #สังเกตว่าไม่มีหัวตาราง

   0    mouse       IT   300
0  1   racket    sport  2000
1  2  T-shirt  clothes   500

In [ ]:
cols = ["ชื่อสินค้า","หมวดหมู่","ราคา"]
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/product3.csv",names = cols)

In [ ]:
df

  ชื่อสินค้า หมวดหมู่  ราคา
0      mouse       IT   300
1     racket    sport  2000
2    T-shirt  clothes   500

##การอ่านเอกสาร Excel
ใช้คำสั่ง <code>read_excel("path","sheet",encoding)</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather")
df

          Day  Temperature  WindSpeed    Event
0  2020-12-01           30          9  แดดร้อน
1  2020-12-02           28          8   เมฆมาก
2  2020-12-03           27          4     ฝนตก
3  2020-12-04           19          3  แดดร้อน
4  2020-12-05           20          5   เมฆมาก
5  2020-12-06           25          6     ฝนตก
6  2020-12-07           36          4     ฝนตก
7  2020-12-08           28          6     ฝนตก
8  2020-12-09           17          5   เมฆมาก
9  2020-12-10           24          6  แดดร้อน
10 2020-12-11           26          4     ฝนตก
11 2020-12-12           27          9  แดดร้อน
12 2020-12-13           30          2  แดดร้อน
13 2020-12-14           31          5   เมฆมาก
14 2020-12-15           28          4  แดดร้อน
15 2020-12-16           27          7  แดดร้อน
16 2020-12-17           20          8     ฝนตก
17 2020-12-18           18          5     ฝนตก
18 2020-12-19           25          7  แดดร้อน
19 2020-12-20           28          4   เมฆมาก
20 2020-12-21           25          5   เมฆมาก
21 2020-12-22           38          2   เมฆมาก
22 2020-12-23           34          3     ฝนตก
23 2020-12-24           29          4     ฝนตก
24 2020-12-25           34          5  แดดร้อน
25 2020-12-26           25          8     ฝนตก
26 2020-12-27           28          9   เมฆมาก
27 2020-12-28           30          2   เมฆมาก
28 2020-12-29           31          1     ฝนตก
29 2020-12-30           35          2     ฝนตก

#ตรวจสอบข้อมูลใน DataFrame
<code>
1. head(n) : อ่านข้อมูล n แถวแรก<br>
2. tail(n) : อ่านข้อมูล n แถวสุดท้าย<br>
3. sample(n) : สุ่มจำนวนข้อมูล n แถว<br>
4. describe() : ดูค่าทางสถิติ<br>
5. shape : สำหรับนับจำนวนข้อมูล เช่น (20,4)<br>
6. columns : ตรวจสอบว่าคอลัมน์มีอะไรบ้าง<br>
7. values : อ่านข้อมูลแบบ Array</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather")
df

          Day  Temperature  WindSpeed    Event
0  2020-12-01           30          9  แดดร้อน
1  2020-12-02           28          8   เมฆมาก
2  2020-12-03           27          4     ฝนตก
3  2020-12-04           19          3  แดดร้อน
4  2020-12-05           20          5   เมฆมาก
5  2020-12-06           25          6     ฝนตก
6  2020-12-07           36          4     ฝนตก
7  2020-12-08           28          6     ฝนตก
8  2020-12-09           17          5   เมฆมาก
9  2020-12-10           24          6  แดดร้อน
10 2020-12-11           26          4     ฝนตก
11 2020-12-12           27          9  แดดร้อน
12 2020-12-13           30          2  แดดร้อน
13 2020-12-14           31          5   เมฆมาก
14 2020-12-15           28          4  แดดร้อน
15 2020-12-16           27          7  แดดร้อน
16 2020-12-17           20          8     ฝนตก
17 2020-12-18           18          5     ฝนตก
18 2020-12-19           25          7  แดดร้อน
19 2020-12-20           28          4   เมฆมาก
20 2020-12-21           25          5   เมฆมาก
21 2020-12-22           38          2   เมฆมาก
22 2020-12-23           34          3     ฝนตก
23 2020-12-24           29          4     ฝนตก
24 2020-12-25           34          5  แดดร้อน
25 2020-12-26           25          8     ฝนตก
26 2020-12-27           28          9   เมฆมาก
27 2020-12-28           30          2   เมฆมาก
28 2020-12-29           31          1     ฝนตก
29 2020-12-30           35          2     ฝนตก

In [ ]:
df.head()

         Day  Temperature  WindSpeed    Event
0 2020-12-01           30          9  แดดร้อน
1 2020-12-02           28          8   เมฆมาก
2 2020-12-03           27          4     ฝนตก
3 2020-12-04           19          3  แดดร้อน
4 2020-12-05           20          5   เมฆมาก

In [ ]:
df.tail()

          Day  Temperature  WindSpeed   Event
25 2020-12-26           25          8    ฝนตก
26 2020-12-27           28          9  เมฆมาก
27 2020-12-28           30          2  เมฆมาก
28 2020-12-29           31          1    ฝนตก
29 2020-12-30           35          2    ฝนตก

In [ ]:
df.sample()

          Day  Temperature  WindSpeed   Event
21 2020-12-22           38          2  เมฆมาก

In [ ]:
df.describe()

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [ ]:
df.shape

(30, 4)

In [ ]:
df.columns

Index(['Day', 'Temperature', 'WindSpeed', 'Event'], dtype='object')

In [ ]:
df.values

array([[Timestamp('2020-12-01 00:00:00'), 30, 9, 'แดดร้อน'],
       [Timestamp('2020-12-02 00:00:00'), 28, 8, 'เมฆมาก'],
       [Timestamp('2020-12-03 00:00:00'), 27, 4, 'ฝนตก'],
       [Timestamp('2020-12-04 00:00:00'), 19, 3, 'แดดร้อน'],
       [Timestamp('2020-12-05 00:00:00'), 20, 5, 'เมฆมาก'],
       [Timestamp('2020-12-06 00:00:00'), 25, 6, 'ฝนตก'],
       [Timestamp('2020-12-07 00:00:00'), 36, 4, 'ฝนตก'],
       [Timestamp('2020-12-08 00:00:00'), 28, 6, 'ฝนตก'],
       [Timestamp('2020-12-09 00:00:00'), 17, 5, 'เมฆมาก'],
       [Timestamp('2020-12-10 00:00:00'), 24, 6, 'แดดร้อน'],
       [Timestamp('2020-12-11 00:00:00'), 26, 4, 'ฝนตก'],
       [Timestamp('2020-12-12 00:00:00'), 27, 9, 'แดดร้อน'],
       [Timestamp('2020-12-13 00:00:00'), 30, 2, 'แดดร้อน'],
       [Timestamp('2020-12-14 00:00:00'), 31, 5, 'เมฆมาก'],
       [Timestamp('2020-12-15 00:00:00'), 28, 4, 'แดดร้อน'],
       [Timestamp('2020-12-16 00:00:00'), 27, 7, 'แดดร้อน'],
       [Timestamp('2020-12-17 00:00:00'), 20, 8, 'ฝนตก'],
       [Timestamp('2020-12-18 00:00:00'), 18, 5, 'ฝนตก'],
       [Timestamp('2020-12-19 00:00:00'), 25, 7, 'แดดร้อน'],
       [Timestamp('2020-12-20 00:00:00'), 28, 4, 'เมฆมาก'],
       [Timestamp('2020-12-21 00:00:00'), 25, 5, 'เมฆมาก'],
       [Timestamp('2020-12-22 00:00:00'), 38, 2, 'เมฆมาก'],
       [Timestamp('2020-12-23 00:00:00'), 34, 3, 'ฝนตก'],
       [Timestamp('2020-12-24 00:00:00'), 29, 4, 'ฝนตก'],
       [Timestamp('2020-12-25 00:00:00'), 34, 5, 'แดดร้อน'],
       [Timestamp('2020-12-26 00:00:00'), 25, 8, 'ฝนตก'],
       [Timestamp('2020-12-27 00:00:00'), 28, 9, 'เมฆมาก'],
       [Timestamp('2020-12-28 00:00:00'), 30, 2, 'เมฆมาก'],
       [Timestamp('2020-12-29 00:00:00'), 31, 1, 'ฝนตก'],
       [Timestamp('2020-12-30 00:00:00'), 35, 2, 'ฝนตก']], dtype=object)

#ค่าทางสถิติ
<code>
1. mean() : ค่าเฉลี่ย<br>
2. min() : ค่าต่ำสุด<br>
3. max() : ค่าสูงสุด<br>
4. count() : จำนวนข้อมูล<br>
5. std() : ส่วนเบี่ยงเบน<br>
6. sum() :ผลรวม</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","score")
df

      Name  Score Gender  Grade
0      ปอน     60    ชาย    3.0
1      แจค     80    ชาย    4.0
2      ยุต     50    ชาย    2.0
3    มาร์ก     51   หญิง    2.5
4      บอล     54   หญิง    2.5
5     อั้ม     54   หญิง    2.5
6      ฟ้า     87   หญิง    4.0
7      โอม     84   หญิง    4.0
8     อาโน     87   หญิง    4.0
9   เอิร์ธ     21    ชาย    0.0
10     เขต     54    ชาย    2.5
11     นิว     89    ชาย    4.0
12    ภูมิ     98    ชาย    4.0
13     เอฟ     84    ชาย    4.0

In [ ]:
df.Score.mean()

68.07142857142857

In [ ]:
df["Score"].mean()

68.07142857142857

In [ ]:
df["Score"].max()

98

In [ ]:
df["Score"].min()

21

In [ ]:
df["Score"].count()

14

In [ ]:
df["Score"].std()

21.826110988426702

In [ ]:
df["Score"].sum()

953

#การเลือกคอลัมน์และแถวในช่วงข้อมูลที่ต้องการ

##การเลือกคอลัมน์และช่วงข้อมูล
การเลือกคอลัมน์ <code>df.ชื่อคอลัมน์</code> หรือ <code>df[ชื่อคอลัมน์]</code><br>
กรณีเลือกหลายคอลัมน์ใช้ <code>df[[column1,column2,...]]</code>

เลือกช่วงข้อมูลเช่น
<code>df.Temperature[:10]</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")
df.head()

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [ ]:
df.Temperature

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
2020-12-07    36
2020-12-08    28
2020-12-09    17
2020-12-10    24
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
2020-12-21    25
2020-12-22    38
2020-12-23    34
2020-12-24    29
2020-12-25    34
2020-12-26    25
2020-12-27    28
2020-12-28    30
2020-12-29    31
2020-12-30    35
Name: Temperature, dtype: int64

In [ ]:
df[["Temperature","Event"]][3:10]

            Temperature    Event
Day
2020-12-04           19  แดดร้อน
2020-12-05           20   เมฆมาก
2020-12-06           25     ฝนตก
2020-12-07           36     ฝนตก
2020-12-08           28     ฝนตก
2020-12-09           17   เมฆมาก
2020-12-10           24  แดดร้อน

##การเลือกข้อมูลแถวที่ต้องการ

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")
df

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [ ]:
df[4:10]

            Temperature  WindSpeed    Event
Day
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน

In [ ]:
df[4:10].Event

Day
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
Name: Event, dtype: object

In [ ]:
#เข้าถึงผ่าน index ใช้ loc()
df.loc["2020-12-09"]

Temperature        17
WindSpeed           5
Event          เมฆมาก
Name: 2020-12-09 00:00:00, dtype: object

#การค้นหาข้อมูล
<code>Series.str.match(string)</code> ค้นหาคำโดย เริ่มจากอักขระตัวแรก<br>
<code>Series.str.contains(string)</code> ไม่จำเป็นต้องเริ่มจากอักขระตัวแรก

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")
df

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [ ]:
#ต้องการหาวันที่มีเหตุการณ์ ฝนตก
df[df.Event.str.match("ฝนตก")]

            Temperature  WindSpeed Event
Day
2020-12-03           27          4  ฝนตก
2020-12-06           25          6  ฝนตก
2020-12-07           36          4  ฝนตก
2020-12-08           28          6  ฝนตก
2020-12-11           26          4  ฝนตก
2020-12-17           20          8  ฝนตก
2020-12-18           18          5  ฝนตก
2020-12-23           34          3  ฝนตก
2020-12-24           29          4  ฝนตก
2020-12-26           25          8  ฝนตก
2020-12-29           31          1  ฝนตก
2020-12-30           35          2  ฝนตก

In [ ]:
df[df.Event.str.match("ตก")]

Empty DataFrame
Columns: [Temperature, WindSpeed, Event]
Index: []

In [ ]:
df[df.Event.str.match("ก")]

Empty DataFrame
Columns: [Temperature, WindSpeed, Event]
Index: []

In [ ]:
df[df.Event.str.contains("ตก")]

            Temperature  WindSpeed Event
Day
2020-12-03           27          4  ฝนตก
2020-12-06           25          6  ฝนตก
2020-12-07           36          4  ฝนตก
2020-12-08           28          6  ฝนตก
2020-12-11           26          4  ฝนตก
2020-12-17           20          8  ฝนตก
2020-12-18           18          5  ฝนตก
2020-12-23           34          3  ฝนตก
2020-12-24           29          4  ฝนตก
2020-12-26           25          8  ฝนตก
2020-12-29           31          1  ฝนตก
2020-12-30           35          2  ฝนตก

In [ ]:
df[df.Event.str.contains("ก")]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-03           27          4    ฝนตก
2020-12-05           20          5  เมฆมาก
2020-12-06           25          6    ฝนตก
2020-12-07           36          4    ฝนตก
2020-12-08           28          6    ฝนตก
2020-12-09           17          5  เมฆมาก
2020-12-11           26          4    ฝนตก
2020-12-14           31          5  เมฆมาก
2020-12-17           20          8    ฝนตก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-23           34          3    ฝนตก
2020-12-24           29          4    ฝนตก
2020-12-26           25          8    ฝนตก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก
2020-12-29           31          1    ฝนตก
2020-12-30           35          2    ฝนตก

#การลูปข้อมูล
ใช้ funtion <code>iterrows()</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")

In [ ]:
for idx, row in df.iterrows():
  print(idx)

2020-12-01 00:00:00
2020-12-02 00:00:00
2020-12-03 00:00:00
2020-12-04 00:00:00
2020-12-05 00:00:00
2020-12-06 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-09 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-16 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
2020-12-23 00:00:00
2020-12-24 00:00:00
2020-12-25 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-28 00:00:00
2020-12-29 00:00:00
2020-12-30 00:00:00

In [ ]:
for idx, row in df.iterrows():
  print(row)

Temperature         30
WindSpeed            9
Event          แดดร้อน
Name: 2020-12-01 00:00:00, dtype: object
Temperature        28
WindSpeed           8
Event          เมฆมาก
Name: 2020-12-02 00:00:00, dtype: object
Temperature      27
WindSpeed         4
Event          ฝนตก
Name: 2020-12-03 00:00:00, dtype: object
Temperature         19
WindSpeed            3
Event          แดดร้อน
Name: 2020-12-04 00:00:00, dtype: object
Temperature        20
WindSpeed           5
Event          เมฆมาก
Name: 2020-12-05 00:00:00, dtype: object
Temperature      25
WindSpeed         6
Event          ฝนตก
Name: 2020-12-06 00:00:00, dtype: object
Temperature      36
WindSpeed         4
Event          ฝนตก
Name: 2020-12-07 00:00:00, dtype: object
Temperature      28
WindSpeed         6
Event          ฝนตก
Name: 2020-12-08 00:00:00, dtype: object
Temperature        17
WindSpeed           5
Event          เมฆมาก
Name: 2020-12-09 00:00:00, dtype: object
Temperature         24
WindSpeed            6
Event          แดดร้อน
Name: 2020-12-10 00:00:00, dtype: object
Temperature      26
WindSpeed         4
Event          ฝนตก
Name: 2020-12-11 00:00:00, dtype: object
Temperature         27
WindSpeed            9
Event          แดดร้อน
Name: 2020-12-12 00:00:00, dtype: object
Temperature         30
WindSpeed            2
Event          แดดร้อน
Name: 2020-12-13 00:00:00, dtype: object
Temperature        31
WindSpeed           5
Event          เมฆมาก
Name: 2020-12-14 00:00:00, dtype: object
Temperature         28
WindSpeed            4
Event          แดดร้อน
Name: 2020-12-15 00:00:00, dtype: object
Temperature         27
WindSpeed            7
Event          แดดร้อน
Name: 2020-12-16 00:00:00, dtype: object
Temperature      20
WindSpeed         8
Event          ฝนตก
Name: 2020-12-17 00:00:00, dtype: object
Temperature      18
WindSpeed         5
Event          ฝนตก
Name: 2020-12-18 00:00:00, dtype: object
Temperature         25
WindSpeed            7
Event          แดดร้อน
Name: 2020-12-19 00:00:00, dtype: object
Temperature        28
WindSpeed           4
Event          เมฆมาก
Name: 2020-12-20 00:00:00, dtype: object
Temperature        25
WindSpeed           5
Event          เมฆมาก
Name: 2020-12-21 00:00:00, dtype: object
Temperature        38
WindSpeed           2
Event          เมฆมาก
Name: 2020-12-22 00:00:00, dtype: object
Temperature      34
WindSpeed         3
Event          ฝนตก
Name: 2020-12-23 00:00:00, dtype: object
Temperature      29
WindSpeed         4
Event          ฝนตก
Name: 2020-12-24 00:00:00, dtype: object
Temperature         34
WindSpeed            5
Event          แดดร้อน
Name: 2020-12-25 00:00:00, dtype: object
Temperature      25
WindSpeed         8
Event          ฝนตก
Name: 2020-12-26 00:00:00, dtype: object
Temperature        28
WindSpeed           9
Event          เมฆมาก
Name: 2020-12-27 00:00:00, dtype: object
Temperature        30
WindSpeed           2
Event          เมฆมาก
Name: 2020-12-28 00:00:00, dtype: object
Temperature      31
WindSpeed         1
Event          ฝนตก
Name: 2020-12-29 00:00:00, dtype: object
Temperature      35
WindSpeed         2
Event          ฝนตก
Name: 2020-12-30 00:00:00, dtype: object

In [ ]:
#idx คือ key , row คือ value 
for idx, row in df.iterrows():
  print("อุณหภูมิ = {} ส่งผลให้เกิด {} ".format(row.Temperature,row.Event))

อุณหภูมิ = 30 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 27 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 19 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 36 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 17 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 24 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 26 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 27 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 30 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 31 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 28 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 27 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 18 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 25 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 38 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 34 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 29 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 34 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 25 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 30 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 31 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 35 ส่งผลให้เกิด ฝนตก

#สอบถามข้อมูลแบบมีเงื่อนไข
ต้องการทราบว่า
1. วันใดบ้างที่มี temp <= 20
2. วันใดบ้างที่มีแดดร้อน
3. วันใดบ้างที่ฝนตก และ temp >= 35
4. วันใดบ้างที่มีเมฆมาก หรือ temp <= 18

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")

In [ ]:
#1.วันใดบ้างที่มี temp <= 20
df[df.Temperature <= 20]

            Temperature  WindSpeed    Event
Day
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-09           17          5   เมฆมาก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก

In [ ]:
#2.วันใดบ้างที่มีแดดร้อน
df[df.Event == "แดดร้อน"]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-04           19          3  แดดร้อน
2020-12-10           24          6  แดดร้อน
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-19           25          7  แดดร้อน
2020-12-25           34          5  แดดร้อน

In [ ]:
#3.วันใดบ้างที่ฝนตก และ temp >= 35
df.loc[(df.Event == "ฝนตก") & (df.Temperature >= 35)]

            Temperature  WindSpeed Event
Day
2020-12-07           36          4  ฝนตก
2020-12-30           35          2  ฝนตก

In [ ]:
#4.วันใดบ้างที่มีเมฆมาก หรือ temp <= 18
df.loc[(df.Event == "เมฆมาก") | (df.Temperature <= 18)]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-05           20          5  เมฆมาก
2020-12-09           17          5  เมฆมาก
2020-12-14           31          5  เมฆมาก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก

#เลือกข้อมูลด้วย isin ใช้แทน or
1. เลือกวันที่มี temp 35 องศาเท่านั้น
2. เลือกวันที่มี temp 20 หรือ 35 องศาเท่านั้น
3. เลือกวันที่มี temp 30 หรือ 35 องศาเท่านั้นและเป็นวันที่มีแดดร้อน

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/dataupdate.xlsx","weather",index_col="Day")

In [ ]:
#วันใดบ้างที่มีอุณหภูมิ 20 25 30 35 องศา
#ไม่ใช้ isin
df.loc[(df.Temperature == 20) | (df.Temperature == 25) | (df.Temperature == 30) | (df.Temperature == 35)]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-13           30          2  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-21           25          5   เมฆมาก
2020-12-26           25          8     ฝนตก
2020-12-28           30          2   เมฆมาก
2020-12-30           35          2     ฝนตก

In [ ]:
#ใช้ isin
df.loc[df.Temperature.isin([20,25,30,35])]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-13           30          2  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-21           25          5   เมฆมาก
2020-12-26           25          8     ฝนตก
2020-12-28           30          2   เมฆมาก
2020-12-30           35          2     ฝนตก

In [ ]:
#1.เลือกวันที่มี temp 35 องศาเท่านั้น
df.loc[df.Temperature.isin([35])]

            Temperature  WindSpeed Event
Day
2020-12-30           35          2  ฝนตก

In [ ]:
#2.เลือกวันที่มี temp 20 หรือ 35 องศาเท่านั้น
df.loc[df.Temperature.isin([20,35])]

            Temperature  WindSpeed   Event
Day
2020-12-05           20          5  เมฆมาก
2020-12-17           20          8    ฝนตก
2020-12-30           35          2    ฝนตก

In [ ]:
#3.เลือกวันที่มี temp 30 หรือ 35 องศาเท่านั้นและเป็นวันที่มีแดดร้อน
df.loc[df.Temperature.isin([25,30])][df.Event == "แดดร้อน"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-19           25          7  แดดร้อน

#เรียงลำดับข้อมูล

##เรียงลำดับข้อมูลด้วย Index
<code>sort_index()</code><br>
ใช้ attribute <code>ascending = False</code> ในการเรียงตรงข้าม<br>
หรือเก็บค่าใน df ด้วย <code>inplace = False</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
df.sort_index() #เรียงชื่อเป็น อิ้ง => ไทย

                             Category    Price  Amount
Name
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0

In [ ]:
df.sort_index(ascending=False)

                             Category    Price  Amount
Name
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
รถบังคับ                      ของเล่น    500.0     6.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
จาน                       เครื่องครัว    250.0     4.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0

##เรียงลำดับข้อมูลด้วย Value
<code>sort_values()</code><br>
ใช้ attribute <code>ascending = False</code> ในการเรียงตรงข้าม<br>
หรือเก็บค่าใน df ด้วย <code>inplace = False</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
df.sort_values("Price")

                             Category    Price  Amount
Name
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
จาน                       เครื่องครัว    250.0     4.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
รถบังคับ                      ของเล่น    500.0     6.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0

In [ ]:
df.sort_values("Price",ascending = False)

                             Category    Price  Amount
Name
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
รถบังคับ                      ของเล่น    500.0     6.0
จาน                       เครื่องครัว    250.0     4.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0

#การเพิ่มคอลัมน์

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
df["Delivery"] = 50
df

                             Category    Price  Amount  Delivery
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0        50
ปากกา                 อุปกรณ์การเรียน    200.0     5.0        50
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0        50
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0        50
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0        50
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0        50
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0        50
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0        50
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0        50
จาน                       เครื่องครัว    250.0     4.0        50
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0        50
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0        50
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0        50
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0        50
รถบังคับ                      ของเล่น    500.0     6.0        50

In [ ]:
df["Total"] = df["Price"]+df["Delivery"]
df

                             Category    Price  Amount  Delivery    Total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0        50    950.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0        50    250.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0        50   1250.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0        50    800.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0        50   3550.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0        50    550.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0        50   1049.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0        50   1000.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0        50   5050.0
จาน                       เครื่องครัว    250.0     4.0        50    300.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0        50  15050.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0        50     70.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0        50   2550.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0        50    900.0
รถบังคับ                      ของเล่น    500.0     6.0        50    550.0

#การเปลี่ยนชื่อคอลัมน์
ใช้ function <code>rename()</code> เช่น<br>
<code>
cols = {เดิม : ใหม่}<br>
df.rename(columns = cols,inplace=True)</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
cols = {"Category" : "Group", "Amount":"Quantity"}
df.rename(columns = cols, inplace = True)
df

                                Group    Price  Quantity
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0      10.0
ปากกา                 อุปกรณ์การเรียน    200.0       5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0       7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0       1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0       0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0       2.0
กางเกงยีนต์                  เสื้อผ้า    999.0       8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0       5.0
โซฟา                     เฟอร์นิเจอร์   5000.0       5.0
จาน                       เครื่องครัว    250.0       4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0       7.0
ยางลบ                 อุปกรณ์การเรียน     20.0       5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0       7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0       5.0
รถบังคับ                      ของเล่น    500.0       6.0

#การลบคอลัมน์และแถว
สำหรับการลบคอลัมน์ใช้ function <code>drop("ชื่อ",axis = 1)</code> หรือ <code>drop(columns=["ชื่อ"])</code><br>
สำหรับการลบแถวใช้ function <code>drop("ชื่อ")</code> หรือ <code>drop(["name1","name2"])</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
df.drop("Category",axis = 1,inplace = True)
df

                     Price  Amount
Name
เมาส์                900.0    10.0
ปากกา                200.0     5.0
โคมไฟ               1200.0     7.0
ไมโครโฟน             750.0     1.0
เครื่องซักผ้า       3500.0     0.0
เสื้อยืดคอกลม        500.0     2.0
กางเกงยีนต์          999.0     8.0
ตุ๊กตาหมีพูห์        950.0     5.0
โซฟา                5000.0     5.0
จาน                  250.0     4.0
ทีวี               15000.0     7.0
ยางลบ                 20.0     5.0
External HardDisk   2500.0     7.0
คีย์บอร์ด            850.0     5.0
รถบังคับ             500.0     6.0

#การเพิ่มแถว
ใช้ function <code>append()</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [ ]:
data = [["หูฟัง","อุปกรณ์คอมพิวเตอร์",3000,5],["สายชาร์จ","อุปกรณ์คอมพิวเตอร์",300,12]]
cols = ["Name","Category","Price","Amount"]
newdf = pd.DataFrame(data,columns = cols)
newdf

       Name            Category  Price  Amount
0     หูฟัง  อุปกรณ์คอมพิวเตอร์   3000       5
1  สายชาร์จ  อุปกรณ์คอมพิวเตอร์    300      12

In [ ]:
newdf.set_index("Name", inplace=True)
newdf

                    Category  Price  Amount
Name
หูฟัง     อุปกรณ์คอมพิวเตอร์   3000       5
สายชาร์จ  อุปกรณ์คอมพิวเตอร์    300      12

In [ ]:
df = df.append(newdf)
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0
หูฟัง              อุปกรณ์คอมพิวเตอร์   3000.0     5.0
สายชาร์จ           อุปกรณ์คอมพิวเตอร์    300.0    12.0

#การหาผลรวมข้อมูลคอลัมน์และแถว
axis = 0 คอลัมน์ (บนลงล่าง)

axis = 1 แถว (ซ้ายไปขวา)

Example
<code>df.sum(axis=1) //default axis = 0</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Stock.xlsx",index_col = "Name")
df["Total"] = df.Price * df.Amount
df

                             Category    Price  Amount     Total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0    9000.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0    1000.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0    8400.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0     750.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0       0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0    1000.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0    7992.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0    4750.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0   25000.0
จาน                       เครื่องครัว    250.0     4.0    1000.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0  105000.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0     100.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0   17500.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0    4250.0
รถบังคับ                      ของเล่น    500.0     6.0    3000.0

In [ ]:
df.sum(axis = 0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                 33119.0
Amount                                                   77.0
Total                                                188742.0
dtype: object

In [ ]:
df.sum(axis = 1)

<ipython-input-7-532c38c48d2a>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis = 1)

Name
เมาส์                  9910.0
ปากกา                  1205.0
โคมไฟ                  9607.0
ไมโครโฟน               1501.0
เครื่องซักผ้า          3500.0
เสื้อยืดคอกลม          1502.0
กางเกงยีนต์            8999.0
ตุ๊กตาหมีพูห์          5705.0
โซฟา                  30005.0
จาน                    1254.0
ทีวี                 120007.0
ยางลบ                   125.0
External HardDisk     20007.0
คีย์บอร์ด              5105.0
รถบังคับ               3506.0
dtype: float64

#จัดการข้อมูลสูญหาย (Missing Values)

##ตรวจสอบข้อมูลสูญหาย
สำหรับการดูว่ามีข้อมูลส่วนใดหายไปหรือก็คือค่าว่างจะใช้ function<br>
<code>isnull()</code> มันจะคืนค่าเป็น Ture ถ้ามีค่า NaN และจะคืนเป็น False ถ้ามีข้อมูลอยู่แล้ว
<ul>
  <li><code>isnull().any()</code> : หาคอลัมน์ใดที่มีค่าว่าง</li>
  <li><code>isnull().sum()</code> : มีค่าว่างกี่จำนวนแถว</li>
</ul>

<code>notnull()</code> จะทำงานตรงข้ามกับ <code>isnull()</code> คือจะข้อมูลว่างจะ False ถ้ามีข้อมูลจะ True
<ul>
  <li><code>notnull().any()</code> : หาคอลัมน์ใดที่มีค่าข้อมูล</li>
  <li><code>notnull().sum()</code> : มีค่าที่มีข้อมูลกี่จำนวนแถว</li>
</ul>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.isnull()#return เป็น true/false

                 Job    Age  Salary  Bonus  Address
Name
อาทิตย์        False  False   False  False     True
เกียรติศักดิ์  False  False    True  False     True
จักรพงษ์       False   True   False  False     True
สุรชัย          True  False   False  False     True
ทศพล           False  False   False  False     True
จินตนา         False   True   False  False     True
NaN             True   True    True   True     True
เกษมสันต์      False  False   False  False     True
ชลธิชา          True  False   False  False     True
เกษมสันต์      False  False   False  False     True
ทศพล           False  False   False  False     True

In [ ]:
df.isnull().any()
#แสดงผลคอลัมน์ที่มีค่าว่าง

Job        True
Age        True
Salary     True
Bonus      True
Address    True
dtype: bool

In [ ]:
df.isnull().sum()
##แสดงผลคอลัมน์ที่มีค่าว่างเป็นจำนวนแถว

Job         3
Age         3
Salary      2
Bonus       1
Address    11
dtype: int64

In [ ]:
df.notnull()

                 Job    Age  Salary  Bonus  Address
Name
อาทิตย์         True   True    True   True    False
เกียรติศักดิ์   True   True   False   True    False
จักรพงษ์        True  False    True   True    False
สุรชัย         False   True    True   True    False
ทศพล            True   True    True   True    False
จินตนา          True  False    True   True    False
NaN            False  False   False  False    False
เกษมสันต์       True   True    True   True    False
ชลธิชา         False   True    True   True    False
เกษมสันต์       True   True    True   True    False
ทศพล            True   True    True   True    False

In [ ]:
df.notnull().any()

Job         True
Age         True
Salary      True
Bonus       True
Address    False
dtype: bool

In [ ]:
df.notnull().sum()

Job         8
Age         8
Salary      9
Bonus      10
Address     0
dtype: int64

##จัดการข้อมูลสูญหายด้วยการแทนที่

###แทนที่ค่าว่างด้วยค่าเฉลี่ยข้อมูลทั้งหมด
funtion <code>fillna()</code> เป็น function ที่จะเติมข้อมูลลงในช่องว่าง<br>
สำหรับขั้นตอนการเติมข้อมูลเฉลี่ยมีดังนี้<br>
1. ใช้ <code>df.describe()</code> หรือ <code>df["__"].mean()</code> เพื่อดูค่าสถิติหรือค่า mean
2. <code>df["column_NaN_data"] = df["column_NaN_data"].fillna(df["column_NaN_data"].mean())</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
#1.ดูค่าทางสถิติ ในที่นี้จะเติมข้อมูล Salary ที่ว่าง
df.describe()

             Age         Salary  Bonus  Address
count   8.000000       9.000000   10.0      0.0
mean   26.625000   94666.666667    0.1      NaN
std     5.998512  134985.184372    0.0      NaN
min    18.000000   30000.000000    0.1      NaN
25%    22.250000   40000.000000    0.1      NaN
50%    27.500000   40000.000000    0.1      NaN
75%    30.250000   60000.000000    0.1      NaN
max    34.000000  450000.000000    0.1      NaN

In [ ]:
# 2.เติมข้อมูลในลงค่าว่างในคอลัมน์ที่กำหนดด้วย fillna()
df.Salary = df.Salary.fillna(df.Salary.mean())
df

                      Job   Age         Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.000000    0.1      NaN
เกียรติศักดิ์  Programmer  18.0   94666.666667    0.1      NaN
จักรพงษ์        Developer   NaN   32000.000000    0.1      NaN
สุรชัย                NaN  23.0   40000.000000    0.1      NaN
ทศพล                 Sale  29.0   40000.000000    0.1      NaN
จินตนา            Manager   NaN  450000.000000    0.1      NaN
NaN                   NaN   NaN   94666.666667    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.000000    0.1      NaN
ชลธิชา                NaN  26.0  100000.000000    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.000000    0.1      NaN
ทศพล                 Sale  29.0   40000.000000    0.1      NaN

###แทนที่ค่าว่างด้วยค่าที่กำหนดขึ้นเอง
<code>df["column_NaN_data"] = df["column_NaN_data"].fillna(ค่าข้อมูลที่ต้องการใส่)</code>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df["Salary"] = df["Salary"].fillna(15000)
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0   15000.0    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN   15000.0    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

###แทนที่ค่าว่างด้วยค่าก่อนหน้า
<code>df.fillna(method= "pad")</code> หรือ <code>df.fillna(method= "ffill")</code> update dataframe ด้วย inplace = True

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.fillna(method = "ffill")

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0   30000.0    0.1      NaN
จักรพงษ์        Developer  18.0   32000.0    0.1      NaN
สุรชัย          Developer  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager  29.0  450000.0    0.1      NaN
NaN               Manager  29.0  450000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา           Maketing  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.fillna(method = "pad")

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0   30000.0    0.1      NaN
จักรพงษ์        Developer  18.0   32000.0    0.1      NaN
สุรชัย          Developer  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager  29.0  450000.0    0.1      NaN
NaN               Manager  29.0  450000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา           Maketing  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

###แทนที่ค่าว่างด้วยค่าถัดไป
<code>df.fillna(method= "bfill")</code> หรือ <code>df.fillna(method= "backfill")</code> update dataframe ด้วย inplace = True

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.fillna(method = "bfill")

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0   32000.0    0.1      NaN
จักรพงษ์        Developer  23.0   32000.0    0.1      NaN
สุรชัย               Sale  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager  34.0  450000.0    0.1      NaN
NaN              Maketing  34.0   60000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา           Maketing  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

##จัดการข้อมูลสูญหายด้วยการลบแถว

###ลบแถวทั้งหมดที่มีค่าว่าง
ใช้ <code>dropna(inplace = True)</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.dropna(inplace=True)
df
#ไม่มีข้อมูลเนื่องจากคอลัมน์ Address ไม่มีข้อมูลอยู่เลย

Empty DataFrame
Columns: [Job, Age, Salary, Bonus, Address]
Index: []

###ลบแถวบางส่วนที่มีค่าว่าง
ใช้ <code>dropna(subset=["ค่างว่างในคอลัมน์นี้จะถูกว่าง"],inplace = True)</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df

                      Job   Age    Salary  Bonus  Address
Name
อาทิตย์        Programmer  20.0   30000.0    0.1      NaN
เกียรติศักดิ์  Programmer  18.0       NaN    0.1      NaN
จักรพงษ์        Developer   NaN   32000.0    0.1      NaN
สุรชัย                NaN  23.0   40000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN
จินตนา            Manager   NaN  450000.0    0.1      NaN
NaN                   NaN   NaN       NaN    NaN      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ชลธิชา                NaN  26.0  100000.0    0.1      NaN
เกษมสันต์        Maketing  34.0   60000.0    0.1      NaN
ทศพล                 Sale  29.0   40000.0    0.1      NaN

In [ ]:
# จะลบแถวออกถ้าหากเจอค่าว่างในคอลัมน์ job and salary
df.dropna(subset=["Job","Salary"],inplace=True)
df

                  Job   Age    Salary  Bonus  Address
Name
อาทิตย์    Programmer  20.0   30000.0    0.1      NaN
จักรพงษ์    Developer   NaN   32000.0    0.1      NaN
ทศพล             Sale  29.0   40000.0    0.1      NaN
จินตนา        Manager   NaN  450000.0    0.1      NaN
เกษมสันต์    Maketing  34.0   60000.0    0.1      NaN
เกษมสันต์    Maketing  34.0   60000.0    0.1      NaN
ทศพล             Sale  29.0   40000.0    0.1      NaN

###ลบคอลัมน์ที่มีค่าว่างทิ้งทั้งหมด
ใช้ <code>dropna(axis="columns",inplace = True)</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df.dropna(subset=["Job","Salary"],inplace=True)
df

                  Job   Age    Salary  Bonus  Address
Name
อาทิตย์    Programmer  20.0   30000.0    0.1      NaN
จักรพงษ์    Developer   NaN   32000.0    0.1      NaN
ทศพล             Sale  29.0   40000.0    0.1      NaN
จินตนา        Manager   NaN  450000.0    0.1      NaN
เกษมสันต์    Maketing  34.0   60000.0    0.1      NaN
เกษมสันต์    Maketing  34.0   60000.0    0.1      NaN
ทศพล             Sale  29.0   40000.0    0.1      NaN

In [ ]:
df.dropna(axis="columns",inplace = True)
df
# จะเห็นว่าคอลัมน์ Address และ Age ที่มีข้อมูลว่างจะหายไป

                  Job    Salary  Bonus
Name
อาทิตย์    Programmer   30000.0    0.1
จักรพงษ์    Developer   32000.0    0.1
ทศพล             Sale   40000.0    0.1
จินตนา        Manager  450000.0    0.1
เกษมสันต์    Maketing   60000.0    0.1
เกษมสันต์    Maketing   60000.0    0.1
ทศพล             Sale   40000.0    0.1

#ลบค่าซ้ำ
เช็คค่าซ้ำด้วย function 
<code>duplicated()</code> เช่น
<code>df[df.duplicated()]</code>

และทำการลบค่าซ้ำออกไปด้วย function 
<code>drop_duplicates()</code>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/learnAI with KongRukSiam/csv_file/Employee.xlsx", index_col = "Name")
df.dropna(subset=["Job","Salary"],inplace=True)
df.dropna(axis="columns",inplace = True)
df

                  Job    Salary  Bonus
Name
อาทิตย์    Programmer   30000.0    0.1
จักรพงษ์    Developer   32000.0    0.1
ทศพล             Sale   40000.0    0.1
จินตนา        Manager  450000.0    0.1
เกษมสันต์    Maketing   60000.0    0.1
เกษมสันต์    Maketing   60000.0    0.1
ทศพล             Sale   40000.0    0.1

In [ ]:
# เช็คค่าซ้ำ
df[df.duplicated()]

                Job   Salary  Bonus
Name
เกษมสันต์  Maketing  60000.0    0.1
ทศพล           Sale  40000.0    0.1

In [ ]:
# ลบค่าซ้ำออกไป
df.drop_duplicates(inplace=True)
df

                  Job    Salary  Bonus
Name
อาทิตย์    Programmer   30000.0    0.1
จักรพงษ์    Developer   32000.0    0.1
ทศพล             Sale   40000.0    0.1
จินตนา        Manager  450000.0    0.1
เกษมสันต์    Maketing   60000.0    0.1